:root {
  --margin-item: 30px;
  --text-main-color: #757575;
  --text-secondary-color: #212121;
  --white-color: #FFFFFF;
  --black-color: #000000;
  --accent-color: #2196F3;
  --accent-secondary-color: #188CE8;
  --bg-primary-color: #2F303A;
  --bg-secondary-color: #F5F5F5;
  --bg-tertiary-color: #F5F4FA;
  --icon-color: #AFB1B8;
}

body {
  font-family: 'Roboto', sans-serif;

  color: var(--text-main-color);
  background-color: var(--white-color);

}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-secondary-color);
}

.title-secondary {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;

  color: var(--text-secondary-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  padding: 0 15px;

  width: 1200px;
  margin: 0 auto;
}

.image {
  display: block;
}


/* header */

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
}

.header .container {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.header .logo {
  margin-right: 93px;
}

.header .accent-color {
  color: var(--accent-color);
}

.header .secondary-color {
  color: var(--black-color);
}

.site-nav {
  display: flex;

  padding-top: 32px;
  padding-bottom: 32px;
}

.item-nav:not(:last-child) {
  margin-right: 50px;
}

.item-nav {
  position: relative;
}

.link-nav {
  color: var(--text-secondary-color);

  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
}

.link-nav.current {
  color: var(--accent-color);
}

.link-nav.current::after {
  position: absolute;
  display: block;

  margin-top: 29px;
  width: 100%;
  height: 4px;

  content: '';
  border-radius: 2px;
  background-color: var(--accent-color);
}

.site-nav,
.contact-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-header {
  display: flex;
  margin-left: auto;
}

.header .item-contact:not(:last-child) {
  margin-right: 30px;
}

.link-contact {
  display: flex;
  align-items: center;

  color: var(--text-main-color);
  fill: var(--text-main-color);

  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-contact>svg {
  margin-right: 10px;
}

.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}


/* ========== STUDIO PAGE ========== */


/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  max-width: 1600px;
  margin: 0 auto;

  text-align: center;

  background-image:
    linear-gradient(to bottom,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url('../images/hero-bg.jpeg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #C4C4C4;

}

.title-hero {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--white-color);
}

.button-hero {
  align-items: center;

  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);

  border: none;
  border-radius: 4px;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--accent-secondary-color);
}


/* features */

.list-features {
  display: flex;
  flex-wrap: wrap;

  margin-right: calc(-1 * var(--margin-item));
  margin-bottom: calc(-1 * var(--margin-item));
}

.item-features {
  margin-right: var(--margin-item);
  margin-bottom: var(--margin-item);

  flex-basis: calc(100% / 4 - var(--margin-item));
}

.item-features:not(:last-child) {
  margin-right: 30px;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  height: 120px;

  background-color: var(--bg-tertiary-color);
}

.title-features {
  margin-bottom: 10px;
}

.text-features {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}


/* services */

.services {
  padding-top: 0;
}

.list-services {
  display: flex;
  flex-wrap: wrap;

  margin-right: -30px;
  margin-bottom: -30px;
}

.item-services {
  flex-basis: calc(100% / 3 - 30px);
}

.item-services:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.box-services {
  position: relative;
  display: inline-block;
}

.title-services {
  position: absolute;
  bottom: 0;
  left: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  text-align: center;

  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
}


/* staff */

.staff {
  background-color: var(--bg-tertiary-color);
}

.list-staff {
  display: flex;
  flex-wrap: wrap;

  margin-right: calc(-1 * var(--margin-item));
  margin-bottom: calc(-1 * var(--margin-item));
}

.item-staff {
  flex-basis: calc(100% / 4 - var(--margin-item));

  margin-right: var(--margin-item);
  margin-bottom: var(--margin-item);

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px
}

.item-staff:not(:last-child) {
  margin-right: 30px;
}

.staff .description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.title-staff {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-secondary-color);
}

.text-staff {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-socials:not(:last-child) {
  margin-right: 10px;
}

.link-socials {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;


  background-color: var(--white-color);
  fill: var(--icon-color);
  border-radius: 50%;

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-socials:hover,
.link-socials:focus,
.link-socials.footer-socials:hover,
.link-socials.footer-socials:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}


/* customers */

.list-customers {
  display: flex;
  flex-wrap: wrap;

  margin-right: calc(-1 * var(--margin-item));
  margin-bottom: calc(-1 * var(--margin-item));

}

.item-customers {
  flex-basis: calc(100% / 6 - var(--margin-item));

  margin-right: var(--margin-item);
  margin-bottom: var(--margin-item);

  background-color: var(--white-color);
}

.item-customers:not(:last-child) {
  margin-right: 30px;
}

.link-customers {
  display: block;

  padding: 16px 30px;

  color: var(--icon-color);
  fill: var(--icon-color);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;

  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.icon-customers {
  width: 41px;
  height: 46.7px;
  fill: currentColor;

  transition:
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-customers:hover,
.link-customers:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}


/* ========== PORTFOLIO PAGE ========== */


/* filter button */

.filter {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.item-filter:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  padding: 8px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-secondary-color);
  background-color: var(--bg-tertiary-color);
  border: none;
  border-radius: 4px;

  transition:
    color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.button-filter:hover,
.button-filter:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* activities */

.list-activities {
  display: flex;
  flex-wrap: wrap;

  margin-right: calc(-1 * var(--margin-item));
  margin-bottom: calc(-1 * var(--margin-item));
}

.item-activities {
  flex-basis: calc((100%) / 3 - var(--margin-item));

  margin-right: var(--margin-item);
  margin-bottom: var(--margin-item);
}

.link-activities {
  color: var(--text-secondary-color);

  transition:
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.link-activities:hover,
.link-activities:focus {
  /* тень работает только на блочных элементах
  поэтому добавлен display block */
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.overlay-activities {
  position: relative;
  overflow: hidden;
}

.text-overlay {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 0px 24px;

  font-size: 18px;
  line-height: 1.5555;
  letter-spacing: 0.03em;

  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
}

.text-overlay {
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.link-activities:hover .text-overlay,
.link-activities:focus .text-overlay {
  transform: translate(0);
}

.link-activities .description {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
  border-top-width: 0;
}

.title-activities {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2.0;
  letter-spacing: 0.06em;
  text-align: left;

  color: var(--text-secondary-color);
}

.text-activities {
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;

  color: var(--text-main-color);
}


/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-primary-color);
}

.list-footer {
  display: flex;
  align-items: baseline;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.footer .accent-color {
  color: var(--accent-color);
}

.footer .secondary-color {
  color: var(--white-color);
}

.item-footer:not(:last-child) {
  margin-right: 70px;
}

.item-footer:nth-child(2) {
  margin-right: 93px;
}

.item-footer:nth-child(3) {
  margin-left: auto;
}

.input-btn {
  display: flex;
  margin-top: 20px;
}

.input-footer {
  margin-right: 12px;
  padding: 15px 16px;

  width: 358px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: var(--white-color);
  background-color: var(--bg-primary-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  /* outline: none; */
}

.input-footer:placeholder-shown {
  color: rgba(255, 255, 255, 0.6);
}

.btn-footer {
  display: flex;
  align-items: center;
}

.btn-footer {
  padding: 10px 28px;
}

.icon-telegram {
  margin-left: 10px;
  fill: var(--white-color);
}

.contact-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer .address {
  color: var(--white-color);
}

.footer .item-contact:not(:last-child) {
  margin-bottom: 9px;
}

.link-footer {
  color: rgba(255, 255, 255, 0.6);
}

.title-socials {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1, 1429;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.link-socials.footer-socials {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white-color);

  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}


/* modal window */

/* затемнение страницы */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

/* свойства is-hidden отключаются и включаются
скриптом modal.js */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  /* анимация open/close модального окна (scale) */
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  /* позиционирование modal window по центрру */
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  /* анимация open/close модального окна (scale) */
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.close-link {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 8px;
  margin-right: 8px;
  padding: 6px;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}

.icon-close {
  fill: var(--black-color);
  transition:
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.close-link:hover .icon-close,
.close-link:focus .icon-close {
  fill: var(--accent-color);
}


/* form */

.form {
  padding: 40px;
}

.form-title {
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--text-secondary-color);
}

.form-field {
  display: flex;
  flex-direction: column;

  margin-bottom: 10px;
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;

  color: var(--text-main-color);
}

.box-input {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form-input {
  padding-left: 42px;
  padding-right: 12px;
  height: 40px;

  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  fill: var(--text-secondary-color);

  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .form-input:focus,
.form-input:focus+.form-icon,
.form-comment:focus,
.form-field:hover .form-input,
.form-field:hover .form-icon,
.comment:hover .form-comment {
  fill: var(--accent-color);
  border-color: var(--accent-color);
} */

.form-field:focus-within .form-input,
.form-field:focus-within .form-icon,
.form-consent:focus-within .checkbox-icon,
.form-field:hover .form-input,
.form-field:hover .form-icon,
.checkbox-label:hover .checkbox-icon {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.comment {
  margin-bottom: 20px;
}

.form-comment {
  resize: none;

  padding: 12px 16px;
  height: 120px;
}

.form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-consent {
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.7143;
  letter-spacing: 0.03em;

  color: var(--text-main-color);
}

.form-consent a {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.checkbox-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox {
  /* сброс к дефолтным стилей от браузера,
  скрытиие ориргинального чекбокса */
  /* appearance: none; */
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;

  width: 16px;
  height: 15px;

  border: 2px solid var(--black-color);
  border-radius: 2px;

  transition:
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked+.checkbox-icon {
  border-color: var(--accent-color);
  background-image: url('../images/icon-check.svg');
  background-size: contain;
  background-origin: border-box;
  background-color: var(--accent-color);
}



/* Попытка сделать с использованием спрайта */
/* .checkbox-icon {
  border: 2px solid var(--black-color);
  border-radius: 2px;
}

.checkbox-icon use {
  fill: var(--white-color);
  opacity: 0;
}

.checkbox:checked~.checkbox-icon,
.checkbox:checked~.checkbox-icon use {
  opacity: 1;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
} */

.form-buttom {
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
}

.btn-send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;

  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
}

.form-buttom .btn-send {
  padding: 10px 52px;
}

.btn-send:hover,
.btn-send:focus {
  background-color: var(--accent-secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}