.hero {
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;

  text-align: center;

  @include gradientBgImage(
    bottom, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4), 
    url("../images/hero-bg.jpeg"));


  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c4c4c4;

  &__title {
    margin-bottom: $marginItem;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: var(--colorLight);
  }
}
