.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  .header & {
    margin-right: 93px;
  }

  .footer & {
    display: inline-block;
    margin-bottom: 20px;
  }

  &__primy-color {
    color: var(--colorAccent);
  }
  &__secondy-color {
    color: var(--colorDark);
  }
}

.logo-logo__secondy-color {
  color: var(--colorLight);
}
