.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--colorBgPrimy);

  & .container {
    display: flex;
    align-items: baseline;
  }
}

.footer__item {
  &:not(:last-child) {
    margin-right: 70px;
  }
  &:nth-child(3) {
    margin-left: auto;
  }
}
