.services {
  padding-top: 0;
}

.services__list {
  display: flex;
  flex-wrap: wrap;

  margin-right: -1 * $marginItem;
  margin-bottom: -1 * $marginItem;
}

.services__item {
  flex-basis: calc(100% / 3 - $marginItem);

  &:not(:last-child) {
    margin-right: $marginItem;
    margin-bottom: $marginItem;
  }
}

.services__box {
  position: relative;
  display: inline-block;
}

.title-services {
  position: absolute;
  bottom: 0;
  left: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  width: 100%;

  text-align: center;

  color: var(--colorLight);
  background-color: rgba(47, 48, 58, 0.8);
}
