.staff {
  background-color: var(--colorBgTerty);
}

.staff__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * $marginItem);
  margin-bottom: calc(-1 * $marginItem);
}

.staff-card {
  flex-basis: calc(100% / 4 - $marginItem);

  margin-right: $marginItem;
  margin-bottom: $marginItem;

  background-color: var(--colorLight);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: $marginItem;
  }
}

.staff-card__description {
  padding-top: $marginItem;
  padding-bottom: $marginItem;
}

.staff-card__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--colorTextSecond);
}

.staff-card__text {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}
