body {
  font-family: "Roboto", sans-serif;
  color: $colorTextMain;
  background-color: $colorLight;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

.visually-hidden {
  @extend %visuallyHidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1200px;
}

.image {
  display: block;
}

.title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
  color: $colorTextSecond;
}

.title-second {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
